<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<% include ../partials/header %>
	</head>
	<body>
		<% include ../partials/navbar %>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Create a refer</h1>
					<div class="well">
						jfidjf
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
